<%- include('partials/header') -%> 

<h1>This is the training page! You must be logged in to see this!</h1> 
<a href="/logout">Logout</a>
<div class="training-container">
  <% for (let i = 0; i < training.length; i++) { %>
    <h4>SOP Title: <%= training[i].title %></h4>
    <p>SOP Number: <%= training[i].sop %></p>
    <p>Revision: <%= training[i].revision %></p>
    <p>Date Created: <%= training[i].createdAt %></p>
    <form 
      action="/training/deleteTraining/<%= training[i]._id %>?_method=DELETE"
      method="POST"
      class="col-3"
    >
      <button class="btn btn-primary fa fa-trash" type="submit"></button>
    </form>
  <% } %>
</div>
<form action="/training/post" method="POST">
  <input type="text" id="sop" name="sop" placeholder="Enter the SOP Number">
  <input type="text" id="title" name="title" placeholder="Enter the Title of this SOP">
  <input type="text" id="revision" name="revision" placeholder="Enter the Revision of this SOP">
  <button type="submit">Submit</button>
</form>

<%- include('partials/footer') -%> 
